name: OWASP ZAP Scan

on:
  workflow_dispatch:
    inputs:
      target_url:
        required: true
        type: string

jobs:
  zap-scan:
    runs-on: ubuntu-latest

    steps:
      - name: Run OWASP ZAP baseline scan
        uses: zaproxy/action-baseline@v0.10.0
        continue-on-error: true
        with:
          target: ${{ inputs.target_url }}
          fail_action: false
          artifact_name: zap-raw-report
